name: Deploy NGINX Helm to EKS

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: arn:aws:iam::387030538435:role/Githubactions
        aws-region: us-west-2

    - uses: azure/setup-kubectl@v4
    - uses: azure/setup-helm@v4

    - run: |
        aws eks update-kubeconfig --name vault-eks-cluster --region us-west-2
        helm upgrade --install nginx ./helm/myapp --namespace nginx --create-namespace --values ./helm/myapp/values-prod.yaml
